@import url(reset.css);


/* HEADER - cabecalho*/

.cabecalho {
    width: 100%;
    height: 7rem;
    background-color: rgb(32, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}

.container-logo p {
    font-size: 3rem;
}

.seach {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seach input {
    width: 26rem;
    height: 3rem;
    outline: none;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.seach button {
    height: 3rem;
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: rgb(110, 226, 120);
}

.cabecalho a img {
    width: 7rem;
    border-radius: 50%;
    border: .2rem solid rgb(255, 255, 255);
    cursor: pointer;
}

/* MAIN  - Banner*/
main {
    width: 100%;
    height:auto;
   
}
main .banner {
    width: 100%;
    position: relative;
    height: calc(100vh - 7rem);
}
main .banner .container-slider {
    width: 100%;
  
    
}
.container-slider .slider{
    display: none;
    width: 100%;
    position: absolute;
    height: calc(100vh - 7rem);
    /*fica tudo amontoado*/
   
}

main .banner .container-slider .slider img {
    width: 100vw;
    /* height: 100vh; */
    height: calc(100vh - 7rem);
    
}

main .banner .slider.mostrar {
    display: flex;
}

main .banner .container-slider button {
    position: absolute;
    top: 50%;
    background: url(../image/seta.png) center center no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

#next {
    right: 5%;
}

#back {
    left: 5%;
    transform: rotate(180deg);
}

.opacidade {
    opacity: 0.5;
}

/* PRODUTOS*/
main .container-produtos {
    position: initial;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1.5fr));
    grid-template-rows: repeat(auto,10rem);
    grid-gap: 3rem;
    padding: 3rem 2rem;
    justify-items: center;
    
}
main .container-produtos .projeto-item {
    position: relative;
    width: 250px;
    height: 300px;
    justify-content: center;
    box-shadow: 0.5rem 0.5rem 1rem black;
}
main .container-produtos .projeto-item img {
    width: 100%;
    height: 65%;
    
}
main .container-produtos .projeto-item p{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: white;
}
main .container-produtos .projeto-item p:nth-child(2){
    margin-top: 1.8rem;
   
}
main .container-produtos .projeto-item p:nth-child(4){
    font-size: 1.3rem;
    position: absolute;
    background-color: red;
    width: 2.5rem;
    border-radius: 50%;
    top: -.5rem;
    right: -.5rem;
}

